.DS_Store
.idea
*.iml
*.pyc
ghostdriver.log
itracker.sublime-*
npm-debug.log
venv/
venv3/
*.sqlite

media/uploads
media/website/js/itracker-*.js
media/website/js/ng/ng/bin/
media/website/js/ng/ng/ng.csproj.user
media/website/js/ng/ng/obj/
media/website/js/node_modules/*
media/website/js/typings
media/website/js/webpack-stats.json
media/website/js/Roboto-*
media/website/js/admin-*
media/website/js/dashboard-*
media/website/js/glyphicons-*
media/website/js/dist
media/website/js/chemdraw
media/website/js/coverage
etc/json/*
etc/mysql/*.sql
etc/mysql/data/
etc/nginx/config/ssl/cert.tgz
Vagrantfile
build/*
settings/developers/*_custom.py
templates/emails/*
htmlcov/*
.coverage
/simple_api/API_doc.html
/simple_api/API_sample.html
/simple_api/SDF_Import_API_sample.html
/*.sql
.vscode
profile_default/
./__init__.py
.devcontainer

# Exclude all Jupyter notebook files unless explicitly added
*.ipynb
!/simple_api/compound_api.ipynb

# Exclude SQLite databases
*.sqlite
/etc/nginx/config/ssl/_wildcard.elixir-test.co.uk.pem
/etc/nginx/config/ssl/_wildcard.elixir-test.co.uk-key.pem
*.sql.gz

docs/build/

# Pycharm created test dirs
_trial_temp*
templates/views/info/third-party-software.html
zap/testreport.html
zap/gen.conf
.dccache

.env
